.box{
    width: 5rem;
    height: 5rem;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-weight: 600;
    
}
.colored-box{
    background-color: lightgreen !important;
    color: whitesmoke;
}
.bg-light {
    background-color: #e9eff7 !important;
}