<div class="container col-6">
  <h1>Register</h1>
  <hr>

  <label for="email"><b>Username</b></label>
  <input type="text" placeholder="Enter Name" name="name" [(ngModel)]="name" required>

  <label for="psw"><b>Password</b></label>
  <input type="password" placeholder="Enter Password" name="psw" [(ngModel)]="password" required>

  <label for="psw"><b>Confirm Password</b></label>
  <input type="password" placeholder="Confirm Password" name="psw" [(ngModel)]="confirmPassword" required>
  
    <button class="signupbtn" (click)="register()">Register</button>
  
</div>