<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <div class="container-fluid px-4">
      <a class="navbar-brand text-light" href="/">ATC</a>
      <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav me-auto pl-3 mb-2 mb-lg-0">
          <li class="nav-item" *ngIf="log">
            <a class="nav-link text-light" aria-current="page" [routerLink]="'/'" [routerLinkActiveOptions]="{exact:true}" [routerLinkActive]="'active'">Dashboard</a>
          </li>
          <li class="nav-item" *ngIf="log">
            <a class="nav-link text-light" [routerLink]="'/airports'" [routerLinkActive]="'active'">Airports</a>
          </li>
          <li class="nav-item" *ngIf="log">
            <a class="nav-link text-light" [routerLink]="'/logs'" [routerLinkActive]="'active'">Logs</a>
          </li>
          <li class="nav-item" *ngIf="log">
            <a class="nav-link text-light" [routerLink]="'/register'" [routerLinkActive]="'active'">Register New Op.</a>
          </li>
        </ul>
        <div class="d-flex" style="column-gap: 1rem;">
            <button *ngIf="!log" class="btn btn-outline-success" (click)="HandleLogin()">Login</button>
            <button *ngIf="log" class="btn btn-outline-danger" (click)="HandleLogout()">Logout</button>
        </div>
      </div>
    </div>
</nav>